* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

header, .container-one, .container-two {
  padding: 0 16%;
}

header, .container-one {
  background-color: #1F2937;
  color: white;
}


/* Header Section */

header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header-links li {
  font-size: 12px;
  color: #E5E7EB;
  padding: 12px 8px;
}

.header-links li:hover {
  background-color: #2f3d50;
}


/* Container One */

.container-one {
  display: flex;
  padding-top: 42px;
  padding-bottom: 42px;
  align-items: center;
}

.signup-container {
  margin-right: 16px;
}

#image-one {
  width: 50%;
  height: auto;
}

.signup-btn {
  margin-top: 6px;
  padding: 4px 16px;
  background-color: #3882F6;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

.signup-btn:hover {
  background-color: #4389fa;
}


/* Container Two */

.container-two {
  text-align: center;
  padding-top: 42px;
  padding-bottom: 42px;
}

.info-container {
  display: flex;
  margin: 14px;
  justify-content: center;
}

.info-sub-container {
  align-items:center;
  width: 110px;
}

.info-media {
  width: 100px;
  height: 100px;
  border: 2px solid #3882F6;
  border-radius: 5px;
}